<app-header class="ion-text-center" titulo="Iniciar Sesion "></app-header>

<ion-content class="ion-float-left ion-margin ion-padding ">
    <ion-grid>
        <ion-row>
            <ion-col id="margin">

                <h1>Introduce tus datos de autenticacion</h1>
                <br>
                   <form class="mid-form" [formGroup]="formlogin"  (ngSubmit)="onSubmit()" >

                     <div class="form-check">
                        <ion-item>
                            <ion-input type="email" placeholder="Correo electronico:" maxlength="50" name="email" formControlName="email" maxlength="50" autcomplete = "on"></ion-input>
                        </ion-item>
                    </div>
                    <br>
                    <br>
                   <div class="form-check">
                        <ion-item>
                            <ion-input type="password" placeholder="Nueva Contraseña:" maxlength="10" formControlName="password" ></ion-input>
                      </ion-item>
                    </div>
                    <br>
                    <p class="ion-text-center">
                        <ion-button type="submit"  color="dark" class="card-img-top" expand="block">
                           Iniciar Sesion
                        </ion-button>
                    </p>
                   
                  </form>
                <br>
                <a href="/recuperar">¿Olvidaste tu contraseña?</a>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
